#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-radius: 4px;
    border-bottom-color: rgba(255, 155, 255, 1);;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a
{
	padding-left:25px;
	font-weight:bold;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li:hover
{
	border-bottom:solid red;
	 transition: all 0.2s ease;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover
{
	color:green;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li::after {
	content:"\00a0";
	display:block;
	width:10px;
	height:10px;
	border-radius:10px;
	background-color:red;
	position:relative;
	top: -30px;
	
}

#custom-bootstrap-menu
{
	/*position:fixed;
	width:100%;
	background:white;*/
}

/*
.pill
{
	height:50px;
	width:50px;
	
}*/

@media screen and (max-width: 796px) {
    #custom-bootstrap-menu.navbar-default .navbar-nav>li::after {
	position:relative;
	top: -25px;

}
}

#gmn
{
	color:blue;
	font-family: "Brush Script MT", cursive;
	font-weight:bold;
	font-size:40pt;
	color:black;
}

#gpwall
{
	height:500px;
	
}

#gposter
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:500px;
	height:510px;
}
#home
{
	background:url('../images/gemini-crop.jpg');
	margin-top: 100px;
	position:relative;
}

#home:before
{
/*	content:" ";
	background:url('../images/gemini-crop.jpg');
	height:inherent;
	left:-10px;
	width:1px;
	position:absolute;
	z-index:-1;*/
}
#home:after
{
	content:" ";
	background:url('../images/gemini-crop.jpg');
	height:510px;
	right:-60px;
	width:10%;
	position:absolute;
	z-index:-1;
	top:0px;
}

h3
{
	color:blue;
	position:relative;
	text-align:center;
}

#about >.container>p
{
	color:blue;
	margin-left:100px;
	margin-right:auto;
}

#mimg > img
{
	border-width:1px;
	border:solid rgba(80,95,225,1) 8px;
}
#mimg
{
	
	
/*	height:300px;*/
	/*border-radius:50px;
	border-width:100px;
	border:solid;*/
}

#moringa-desc
{
	padding-top:50px;
	padding-left:40px;
	
	
	font-weight:bold;
	font-family:cursive;
	font-size:13pt;
	color:purple;
/*	border:solid black 5px;
	border-radius:105px;
	background:white;*/
}


#moringa-desc>p
{
	
	border:solid black 5px;
	border-radius:105px;
	background:white;
	margin-bottom:70px;
	padding:25px 25px 25px 25px;
	position:relative;
}

#moringa-desc>p:not(:first-of-type):after
{
	content:' ';
	width:30px;
	height:30px;
	background:white;
	position:absolute;
	top:-50px;
	left:50%;
	border-radius:50%;
	border:solid 3px black;
}

#moringa-desc>p:not(:first-of-type):before
{
	content:' ';
	width:15px;
	height:15px;
	background:white;
	position:absolute;
	top:-70px;
	left:50%;
	border-radius:50%;
	border:solid 3px black;
}

#service1 >.col-md-12> .col-md-6 > p
{
	border-style:solid;
	border-color:black;
	border-width:0px 0px 0px 3px;
	color:green;
	/*padding-top:30px;*/
	padding:20px 30px 0px 30px;
	
	border-image:linear-gradient(to top, yellow, rgba(0, 0, 0, 0)) 1 100%;
}

#service2 p
{
	font-weight:bold;
	font-size:12pt;
	padding:20px 30px 0px 30px;
}


#service2 ul
{
	font-weight:bold;
	font-size:12pt;
}
#service2 > .col-md-12
{
	border-width: 0px 0px 1px 0px;
	border-style:solid;
	border-color:rgba(255,0,0,1);
	padding:30px 0px 30px 0px;
	background:rgba(255,255,255,1);
}

#service1 h3
{
	/*border-bottom: 1px solid black;*/
}

/*#moringa-desc>p:not(:first-of-type):before
{
	content:' ';
	border:node;
	
}*/
#pintro
{
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
}

#pintro > p
{
	color:rgba(255,0,0,1);
}

.mhead
{
	margin:  auto auto 50px;
}

.color1
{
	color:green
}

.color2
{
	color:black;
}

.color3
{
	color:yellow;
}

#oils > .col-md-4 >img
{
	border-radius:50%;
	border-width:1px;
	height:260px;/*
	width:260px;*/
	border:solid rgba(80,95,225,1) 8px;
}

#prof > img
{
	height:200px;
}

#oils > .col-md-4
{
	
	padding-top: 90px;
}

#oils > .col-md-4 >img
{
	height:210px;
	width:210px;
	/*
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;*/
    
    border-image:linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
 
}

#oils
{
	margin: 40px auto 90px 30px;
}

#oil-desc
{
	margin-top:30px;
}

#oil-desc h3 span
{
	/*border-bottom:1px solid;*/
	font-weight:bold;
	font-family:cursive;
	font-size:20pt;
}

#pintro
{
	font-weight:bold;
	font-family:cursive;
	font-size:15pt;
}


#service2> .col-md-12
{
	margin-top:50px;
}

#service2> .col-md-12 > .col-md-6 > img
{
		height:300px;
}

#service2> .col-md-12 > .col-md-12
{
	margin-top:1px;
}

.about
{
	font-weight:bold;
	margin-top:100px;
}

.leaf
{
	border-left:solid 5px;
	border-image:linear-gradient(to top, green, rgba(0, 0, 0, 0)) 1 100%;
	border-top:solid 3px black;
	background:rgba(255,0,0,0.4);
	border-radius:10px;
/*	
	border-top:solid 3px;
	border-image:linear-gradient(to top, green, rgba(0, 0, 0, 0)) 1 100%;
	*/
}

.leaf, .styledimg
{
	margin-top:50px;
}

#shead
{
	margin:100px 0px 0px 80px;
	font-weight:bold;
	color:rgba(60,80,0,0.9);
}

#shead >span
{
	border-bottom:solid 1px;
}

#gintro
{
	margin:40px 0px 0px 0px;
	font-weight:bold;
	font-family:cursive;
}


#gintro > span
{
	color:rgba(150,100,10,1);
}

#treeback
{
	/*position:relative;*/
	opacity:1;
	transition: opacity 2s;
	margin-top:50px;
}

#propra > p
{
	margin:100px 0px 10px 100px;
	color:black;
	font-weight:bold;
	font-size:13pt;
}

#treeback:before
{
	content:' ';
	background:url('../images/moringa-tree.jpg');
	width:107%;
	left:-70px;
	height:100%;
	background-color:black;
	opacity:0.3;
	position:absolute;
	z-index:-1;
	
}

.dual
{
	height:150px;
}

.styledimg
{
	border-left:solid black 5px;
	border-image:linear-gradient(to top, green, rgba(0, 0, 0, 0)) 1 100%;
}